<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.soleap.cashbook">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.soleap.cashbook"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:theme="@style/NoActionBar"
            android:name=".common.activity.BsDocLookUpActivity"
            android:exported="true">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/NoActionBar"
            android:name=".common.activity.BsDocListActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.activity.BsDocEditActivity"
            android:theme="@style/NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".common.activity.PhotoViewActivity"
            android:exported="true"
            android:theme="@style/NoActionBar"/>


        <activity
            android:name=".common.activity.BsDocViewActivity"
            android:exported="true"
            android:theme="@style/NoActionBar"/>

        <activity
            android:name=".common.activity.BsDocAddNewActivity"
            android:theme="@style/NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".common.activity.PDFViewActivity"
            android:theme="@style/NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserProfileActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/user_profile"
            android:exported="true"
            android:configChanges="uiMode"/>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/NoActionBar"
            android:configChanges="uiMode"/>

        <activity
            android:name="com.github.tntkhang.fullscreenimageview.library.FullScreenImageViewActivity"
            android:label="@string/photo"
            android:exported="true"
            android:configChanges="uiMode">
        </activity>

        <activity
            android:name=".common.activity.QrCodeScannerActivity"
            android:theme="@style/NoActionBar"
            android:exported="true"
            android:label="@string/qrcode_scanner"
            android:hardwareAccelerated="true"
            android:configChanges="uiMode"/>

        <activity
            android:name=".common.activity.QrCodeScannerResultActivity"
            android:theme="@style/NoActionBar"
            android:exported="true"
            android:label="@string/qrcode_scanner"
            android:hardwareAccelerated="true"
            android:configChanges="uiMode"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:exported="true"
            android:configChanges="uiMode">
        </activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>